
title {
    text-decoration: underline;
}

p {
    font-size: 30pt;
}

ol {
    font-style: bold;
}

body {
    background-color: silver;
}

.favList {
    color: purple;
}

#jerryList {
    color: brown;
}

#div1 {
    background-color: gold;
}

#div2 {
    background-color: yellow;
}

#div3 {
    background-color: sandybrown;
}

#div4 {
    background-color: gray;
}

#div1, #div2, #div3, #div4 {
    background-color: green;
}

table {
    display:flex;
    flex-direction: row;
    
}

iframe {
    width: 50%;
    margin: 50px;

}

/* .container {
  width: 100%;
  height: auto;
  background-color: #007bbf;
  display: flex;
  border: solid;
  juctify-content: center;
}

.box {
  display: flex;
  width: 20%;
  height: 300px;
  background: yellow;
  margin: 20px;
  box-sizing: border-box;
  font-size: 50px;
}

/* .we {
    height: 100px;
    width: 100px;
    background-color: red;
    transition: width 1s ease-in-out 0s;
  }
  
  .b {
    background-color: blue;
  }
  
  .we:hover {
    width: 25%;
  } */